<%= stylesheet_link_tag("user") %>
<div class="container">
<ul class="unorder-list">
    <li class="list-items list-profile">
    <%= image_tag("profile/avator.png", class: "profile_img") %>
    </li>
    <li class="list-items list-desc">
    <p class="name-title"><%= link_to @user.name, @user %></p>
     <p class="quantity">Number of post
     <%= @user.posts_counter %>
     </p>
    </li>
</ul>
<ul class="unorder-list">
    <li class="list-items list-content">
    <h3>Bio</h3>
    <p class="name-title"><%= @user.bio %></p>
    </li>
</ul>
<% @posts.each do |post| %>
    <ul class="unorder-list">
    <li class="list-items list-content">
    <h3 class="post-title"><%= post.title %></h3>
    <p class="name-title"><%= post.text %></p>
    <p class="quantity">
     comments:<%= post.comments_counter %>
     Likes:<%= post.likes_counter %>
     </p>
    </li>
    </ul>
      <% end %>
      <div class="expand-link">
      <button type="button", class="see-more"             %>
      <%= link_to "See all Posts", user_posts_path(@user) %>
      </button>
      </div>
</div>