<%= stylesheet_link_tag("user") %>
<div class="container">
    <ul class="unorder-list">
    <li class="list-items list-content">
    <div class="post-details">
    <p class="post-title"> 
    <strong><%= @post.title %></strong> by
    <strong><%= @user.name %></strong></p>
    <p class="quantity">
     comments:<span><%= @post.comments_counter %></span>
     Likes:<span><%= @post.likes_counter %></span>
     </p>
    </div>
    <p class="post-content"><%= @post.text %></p>
    <% if can? :destroy, @post %>
    <%= form_tag user_post_path(@post.author, @post), method: :delete do %>
      <div class="form-destroy">
      <%= submit_tag("Delete", class: "btn-destroy") %>
      </div>
    <% end %>
    <% end %>
    </li>
    </ul>
    <% if (@post.comments.length > 0) %>
     <% @post.comments.each do |comment| %>
      <ul class="unorder-list">
    <li class="list-items list-content list-comments">
      <%= form_tag user_post_comment_path(@post.author, @post, comment), method: :delete do %>
        <div>
        <span><%= comment.user.name %> </span>:
        <span><%= comment.text %> </span>
        </div>
      <% if can? :destroy, comment %>
        <div class="comment-delete">
        <%= submit_tag("Delete", class: "btn-destroy") %>
        </div>
      <% end %>
      <% end %>
      </li>
   </ul>
  <% end %>
 <% end %>
<%= form_with model: [@user, @post, @comment] do |form| %>
  <div class="post_comment">
       <div class="input-comment">
       <%= form.text_field :text %>
       </div>
      <div class="submit-comment">
       <%= form.submit "Comment" %>
       <%= link_to "Like", user_post_likes_path(@user, @post) %>
       </div>
       </div>
  <% end %>
</div>


