<!DOCTYPE html>
<html>
  <head>
    <title>Blog Applications</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <% if user_signed_in? %>
    <div class="container">
    <%= form_tag "/users/sign_out", method: :delete do %>
      <div class="horizon">
      <%= submit_tag("Sign Out", class: "btn-signout") %>
      </div>
    <% end %>
    <div>
    <% end %>
  </body>
</html>
